@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eef2ff, #ffffff, #e0e7ff);
  color: #111827;
  font-family: system-ui, sans-serif;
}

* {
  transition: all 0.2s ease-in-out;
}